!!!
%html
  %head
    %title Accidental Moose
    %link{:href => 'styles.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.6.2.min.js'}
    %script{:type => 'text/javascript', :src => '/application.js'}
  %body
    %header
      %a{href: '/'}
        %h1 Accidental Moose
    %section
      %header
        %h1 We accidentally a moose.
        %p And then we built some websites:
      #main
        %article
          %header
            %h1
              %a{href: 'http://skyrimalchemy.com/'} SkyrimAlchemy.com
          %section
            %a.project-image{href: 'http://skyrimalchemy.com/'}
              %img{src: '/images/skyrimalchemy.jpg', alt: 'SkyrimAlchemy.com'}
            %p Tool for Skyrim potion ingredients.
    %footer
      Say hello:
      %a{href: 'mailto:ohgod@accidentalmoose.com'} ohgod@accidentalmoose.com
    = in_bed_with.gauges(site_id: '4f24e8ed844d52786800000a')
