!!!
%html
  %head
    %title Accidental Moose
    %link{:href => 'styles.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript", :src => "/application.js"}
  %body
    #main
      %h1 Accidental Moose
    = in_bed_with.gauges(site_id: '4f24e8ed844d52786800000a')
